body {
    padding-top: 60px;
    background-color:#f0fcfd;
}

[class*="col-"]{
    border-radius: 15px;
    margin-top: 10px;
    overflow:hidden;
    word-wrap:break-word;
}

.jumbotron {
    color: #533;
    background-color: #d06868
}

.row.com [class*="col-"]{
    background-color: #ffffff;
}

img {
    vertical-align:top;
    margin:2px;
    max-height:400px;
    max-width:400p
}
